<%= render 'books/sideb', {user: @user, book: Book.new} %>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thread>
  <tbody>
    <tr>
      <% @user.books.each do |t| %>
        <tr>
          <td><%= image_tag @user.profile_image(100,100) %></td>
          <td>
            <%= link_to t.title, book_path(t.id) %>
          </td>
          <td><%= t.body %></td>
        </tr>
      <% end %> 
    </tr>
  </tbody>
</table>