<h4>New book</h4>

<%= form_with model: @book do |f| %>
  <h6>Title</h6>
  <%= f.text_field :title %>
	
  <h6>Opinion</h6>
  <%= f.text_area :opinion %>
	
  <br><%= f.submit 'create book' %>
<% end %>

